<.page_header>Backups</.page_header>
<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <.table id="archives" rows={all_archives(@onsite_archives, @offsite_archives)}>
            <:col :let={archive} class="text-right">
              <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-100 text-gray-800">
                <%= archive.location |> to_string |> String.upcase() %>
              </span>
            </:col>
            <:col :let={archive} label="Repository" class="font-medium">
              <%= archive.repository_name %>
            </:col>
            <:col :let={archive} label="Name">
              <%= archive.name %>
            </:col>
            <:col :let={archive} label="Created at" class="w-full">
              <%= format_datetime(archive.time) %>
            </:col>
            <:col :let={archive} class="text-right">
              <span class="relative z-0 inline-flex shadow-sm rounded-md">
                <button
                  id={"#{archive.id}-copy"}
                  type="button"
                  title="Copy extract command"
                  phx-hook="CopyText"
                  data-copy-text={extract_command(archive)}
                  class="archive-copy-button -ml-px relative inline-flex items-center px-2 py-2 rounded-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
                >
                  <span class="sr-only">Copy extract command</span>
                  <.icon name="hero-clipboard-solid" class="h-5 w-5" />
                </button>
              </span>
            </:col>
          </.table>
        </div>
      </div>
    </div>
  </div>
</div>
