<main class="max-w-3xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <.section_header>Backup Details</.section_header>

    <.list>
      <:item title="Name"><%= @archive.name %></:item>
      <:item title="Start time"><%= format_datetime(@archive.detail.start_time) %></:item>
      <:item title="End time"><%= format_datetime(@archive.detail.end_time) %></:item>
      <:item title="Duration">
        <%= @archive.detail.duration |> trunc() |> format_duration() %>
      </:item>
      <:item title="Command line">
        <span class="font-mono"><%= Enum.join(@archive.detail.command_line, " ") %></span>
      </:item>
    </.list>
  </div>
</main>
