{% extends "base.html" %}

{% block title %}Deploys{% endblock title %}

{% block content %}

<h1>Deploys</h1>

{% if update_mr %}
<p class="alert alert-primary mt-3" role="alert">
  There is an outstanding update <a href="https://git.midna.dev/mjm/nix-config/-/merge_requests/{{ update_mr.iid }}"
    target="_blank">merge request</a>.
</p>
{% endif %}

<ul class="list-group">
  {% for deploy in deploys %}
  <li class="list-group-item">
    {{ deploy.deployable.name }} - {{ deploy.deployable.commit.message }}
  </li>
  {% endfor %}
</ul>

{% endblock content %}