<.page_header>Deployments</.page_header>

<div class="container mx-auto sm:px-6 lg:px-8 py-6">
  <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 mb-6">
    <.build_card
      build={@infra_build}
      now={@now}
      running_title="Building Homelab infra"
      finished_title="Most recent infra build"
      icon="hero-wrench-screwdriver"
    />

    <.build_card
      build={@homelab_build}
      now={@now}
      running_title="Building Homelab app"
      finished_title="Most recent Homelab build"
      icon="hero-beaker"
    />
  </div>

  <div class="bg-white overflow-hidden shadow sm:rounded-lg">
    <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
      <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
        <div class="ml-4 mt-2">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Recent cluster deployments
          </h3>
        </div>
      </div>
    </div>
    <div class="flow-root py-5 px-4 sm:px-6">
      <.async_result :let={deploys} assign={@infra_deploys}>
        <:loading>
          Loading deploys...
        </:loading>

        <:failed>
          Failed to load deploys.
        </:failed>

        <ul role="list" class="-mb-8">
          <li :for={deploy <- deploys} id={"deploy-#{deploy.id}"} class="group">
            <div class="relative pb-8">
              <span
                class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200 group-last:hidden"
                aria-hidden="true"
              />
              <div class="relative flex space-x-3">
                <div>
                  <span class={[
                    "h-8 w-8 rounded-full text-white flex items-center justify-center ring-8 ring-white",
                    icon_style(deploy)
                  ]}>
                    <.icon name={deploy_icon(deploy)} class="h-5 w-5" />
                  </span>
                </div>
                <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                  <div>
                    <p class="text-sm">
                      <.job_label deploy={deploy} />
                      <.link
                        href={deploy.url}
                        navigate={if deploy.url == nil, do: ~p"/deploys/#{deploy}"}
                        target={if deploy.url != nil, do: "_blank"}
                        class="font-medium text-gray-700 hover:text-indigo-900 transition ease-in-out duration-150"
                      >
                        <%= deploy.commit.message |> String.split("\n", parts: 2) |> hd() %>
                      </.link>
                    </p>
                  </div>
                  <div class="text-right text-sm whitespace-nowrap text-gray-500">
                    <.relative_time time={deploy.started_at || @now} now={@now} />
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </.async_result>
    </div>
  </div>

  <.async_result :let={refreshed_at} assign={@refreshed_at}>
    <div class="text-sm text-center text-gray-700 mt-3">
      Last updated: <%= format_datetime(refreshed_at) %>
    </div>
  </.async_result>
</div>
