<.modal
  show
  id="reschedule_modal"
  on_confirm={JS.dispatch("submit", to: "#reschedule_form")}
  on_cancel={JS.push("cancel_reschedule")}
>
  <:title>Reschedule task</:title>
  <.form for={@form} id="reschedule_form" phx-change="change_reschedule" phx-submit="reschedule">
    <.input field={@form[:uuid]} type="hidden" />
    <.input
      field={@form[:date]}
      x-on:keydown="if($event.key != 'Escape') { $event.stopPropagation() }"
    />
  </.form>

  <:confirm>Reschedule</:confirm>
  <:cancel>Cancel</:cancel>
</.modal>
