<div
  x-data
  id={"task-#{@task.uuid}-dropdown"}
  class="mt-2 w-56 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
  role="menu"
  aria-orientation="vertical"
  aria-labelledby="menu-button"
  tabindex="-1"
  x-show="$store.dropdown.current == $el.id"
  x-cloak
  @click.away="$store.dropdown.hide()"
  x-transition:enter="transition ease-out duration-100"
  x-transition:enter-start="transform opacity-0 scale-95"
  x-transition:enter-end="transform opacity-100 scale-100"
  x-transition:leave="transition ease-in duration-75"
  x-transition:leave-start="transform opacity-100 scale-100"
  x-transition:leave-end="transform opacity-0 scale-95"
>
  <div class="py-1" role="none">
    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
    <button
      type="button"
      class="text-gray-700 block w-full px-4 py-2 text-left text-sm"
      role="menuitem"
      tabindex="-1"
      @click="$store.dropdown.hide()"
      phx-click={JS.push("show_edit", value: %{task_uuid: @task.uuid})}
    >
      Edit
    </button>
    <button
      type="button"
      class="text-gray-700 block w-full px-4 py-2 text-left text-sm"
      role="menuitem"
      tabindex="-1"
      @click="$store.dropdown.hide()"
      phx-click={JS.push("show_reschedule", value: %{task_uuid: @task.uuid})}
    >
      Reschedule
    </button>
    <button
      type="button"
      class="text-gray-700 block w-full px-4 py-2 text-left text-sm"
      role="menuitem"
      tabindex="-1"
      @click="$store.dropdown.hide()"
      phx-click={JS.push("toggle_next", value: %{task_uuid: @task.uuid})}
    >
      <%= if Enum.member?(@task.tags, "next") do %>
        Deprioritize
      <% else %>
        Prioritize
      <% end %>
    </button>
    <button
      type="button"
      class="text-gray-700 block w-full px-4 py-2 text-left text-sm"
      role="menuitem"
      tabindex="-1"
      @click="$store.dropdown.hide()"
      phx-click={JS.push("add_child", value: %{task_uuid: @task.uuid})}
    >
      Add child task
    </button>
    <button
      id={"task-#{@task.uuid}-copy-button"}
      type="button"
      class="text-gray-700 block w-full px-4 py-2 text-left text-sm"
      role="menuitem"
      tabindex="-1"
      @click="$store.dropdown.hide(); navigator.clipboard.writeText($el.dataset.copyText)"
      data-copy-text={@task.uuid}
    >
      Copy UUID
    </button>
    <button
      id={"task-#{@task.uuid}-delete-button"}
      type="button"
      class="text-red-700 block w-full px-4 py-2 text-left text-sm"
      role="menuitem"
      tabindex="-1"
      @click="$store.dropdown.hide()"
      phx-click={JS.push("delete_task", value: %{task_uuid: @task.uuid})}
      data-confirm="Are you sure you want to delete this task?"
    >
      Delete
    </button>
  </div>
</div>
