<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <.async_result :let={%{rows: tasks, selected: selected_uuid}} assign={@tasks}>
        <:loading>Loading tasks...</:loading>
        <:failed :let={reason}>
          There was an error loading tasks: <%= inspect(reason) %>
        </:failed>
        <div :if={tasks == []} class="text-center">
          <.icon
            name="hero-squares-plus"
            class="mx-auto h-12 w-12 text-gray-400 stroke-current"
            aria-hidden="true"
          />
          <h3 class="mt-2 text-sm font-semibold text-gray-900">No tasks</h3>
        </div>
        <div
          :if={tasks != []}
          class="shadow overflow-hidden border-b border-gray-200 dark:border-gray-700 sm:rounded-lg"
        >
          <.table
            id="tasks"
            rows={tasks}
            row_id={&"task-#{&1.uuid}"}
            selected?={&(selected_uuid == &1.uuid)}
          >
            <:col :let={task}>
              <form action="javascript:void(0)" phx-change="done">
                <input type="hidden" name="task_uuid" value={task.uuid} />
                <input type="hidden" name="done" value="false" />
                <input
                  type="checkbox"
                  id={"task-#{task.id}-checked"}
                  name="done"
                  value="true"
                  class="h-4 w-4 rounded border-gray-300 dark:border-gray-600 text-indigo-600 dark:text-indigo-300 focus:ring-indigo-600 dark:focus:ring-indigo-300 dark:bg-gray-900"
                />
              </form>
            </:col>
            <:col :let={task} label="Project" class="text-gray-500 dark:text-gray-400">
              <%= task.project %>
            </:col>
            <:col :let={task} label="Description" class="w-full font-medium">
              <div class="flex flex-wrap gap-x-2">
                <span><%= task.description %></span>
                <span
                  :for={tag <- task.tags}
                  class="inline-flex items-center rounded-md bg-gray-50 dark:bg-gray-900 px-1.5 py-0.5 text-xs font-medium text-gray-600 dark:text-gray-400 ring-1 ring-inset ring-gray-500/10 dark:ring-gray-400/10"
                >
                  <%= tag %>
                </span>
              </div>
            </:col>
            <:col :let={task} label="Created" class="text-gray-500 dark:text-gray-400">
              <.relative_time now={@now} time={task.entry} />
            </:col>
            <:col :let={task}>
              <div
                id={"task-#{task.uuid}-button"}
                x-data={"dropdown('task-#{task.uuid}-dropdown', {placement: 'bottom-end', modifiers: [{name: 'offset', options: {offset: [0, 8]}}]})"}
                class="inline-block text-left mt-1 -mb-2"
              >
                <div>
                  <button
                    type="button"
                    class="flex items-center rounded-full text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
                    id={"task-#{task.uuid}-menu-button"}
                    x-bind:aria-expanded="isExpanded()"
                    aria-haspopup="true"
                    @click="toggle()"
                  >
                    <span class="sr-only">Open options</span>
                    <svg
                      class="h-5 w-5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
                    </svg>
                  </button>
                </div>
              </div>
            </:col>
          </.table>
        </div>
      </.async_result>
    </div>
  </div>
</div>
