<div class="modal fade" id="new-task-modal" aria-hidden="true" aria-labelledby="new-task-modal-title" tabindex="-1">
  <div class="modal-dialog modal-fullscreen-md-down">
    <div class="modal-content">
      <form hx-post="/tasks" hx-target="#task-list"
        hx-on::before-swap="if (event.detail.successful) { document.getElementById('new-task-modal-close').click() }">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="new-task-modal-title">New task</h1>
          <button id="new-task-modal-close" type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="new-task-description" class="form-label">Description</label>
            <input type="text" autocomplete="off" class="form-control" id="new-task-description" name="description">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>