layout {
	tab name="slab" cwd="/Users/matt/Projects/slab" {
		pane size=1 borderless=true {
			plugin location="zellij:tab-bar"
		}

		pane split_direction="vertical" {
			pane name="editor" command="hx" size="60%" focus=true
			pane split_direction="horizontal" {
				pane
				pane
			}
		}

		pane name="logs" size=20 {
			command ",slab"
			args "start"
		}

		pane size=1 borderless=true {
			plugin location="zellij:status-bar"
		}
	}
}
