<.page_header>
  Homelab
</.page_header>

<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 mb-6">
    <.stat_card title="Alerts firing">
      <:icon><.icon name="hero-fire" class="h-6 w-6" /></:icon>
      <.async_result :let={alerts} assign={@alerts}>
        <:loading>Loading alerts...</:loading>
        <:failed>Couldn't load alerts.</:failed>
        <%= Enum.count(alerts) %> alert<%= if Enum.count(alerts) != 1, do: "s" %>
      </.async_result>
      <:link href="https://alerts.midna.dev/" target="_blank">
        View active alerts
      </:link>
    </.stat_card>

    <.stat_card title="Paperless inbox">
      <:icon><.icon name="hero-document-text" class="h-6 w-6" /></:icon>
      <.async_result :let={docs} assign={@inbox_docs}>
        <:loading>Loading documents...</:loading>
        <:failed>Couldn't load documents.</:failed>
        <%= Enum.count(docs) %> document<%= if Enum.count(docs) != 1, do: "s" %>
      </.async_result>
      <:link href="https://paper.midna.dev/view/1" target="_blank">
        View inbox documents
      </:link>
    </.stat_card>
  </div>

  <div>
    <h2 class="text-gray-500 dark:text-gray-400 text-xs font-medium uppercase tracking-wide">
      Application Directory
    </h2>
    <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
      <.app_link initials="C" color="bg-pink-600" href="https://consul.midna.dev/">
        <:title>Consul</:title>
        <:subtitle>Service discovery</:subtitle>
      </.app_link>

      <.app_link initials="V" color="bg-gray-500" href="https://vault.midna.dev/">
        <:title>Vault</:title>
        <:subtitle>Secrets management</:subtitle>
      </.app_link>

      <.app_link initials="P" color="bg-orange-500" href="https://metrics.midna.dev/alerts">
        <:title>Prometheus</:title>
        <:subtitle>Application monitoring</:subtitle>
      </.app_link>

      <.app_link
        initials="G"
        color="bg-yellow-500"
        href="https://graphs.midna.dev/d/3frfw9AMz/cluster?orgId=1&refresh=1m"
      >
        <:title>Grafana</:title>
        <:subtitle>Data visualization</:subtitle>
      </.app_link>

      <.app_link initials="GL" color="bg-orange-600" href="https://git.midna.dev/">
        <:title>GitLab</:title>
        <:subtitle>Software development</:subtitle>
      </.app_link>

      <.app_link initials="NB" color="bg-sky-500" href="https://netbox.midna.dev/">
        <:title>NetBox</:title>
        <:subtitle>Network modeling</:subtitle>
      </.app_link>

      <.app_link initials="PM" color="bg-orange-400" href="https://proxmox.midna.dev/">
        <:title>Proxmox</:title>
        <:subtitle>Hypervisor management</:subtitle>
      </.app_link>

      <.app_link initials="LD" color="bg-indigo-600" href="https://links.midna.dev/">
        <:title>linkding</:title>
        <:subtitle>Bookmark keeping</:subtitle>
      </.app_link>

      <.app_link initials="VW" color="bg-blue-700" href="https://pass.midna.dev/">
        <:title>Vaultwarden</:title>
        <:subtitle>Password management</:subtitle>
      </.app_link>

      <.app_link initials="MF" color="bg-emerald-700" href="https://feeds.midna.dev/">
        <:title>Miniflux</:title>
        <:subtitle>Feed aggregation</:subtitle>
      </.app_link>

      <.app_link initials="HA" color="bg-cyan-600" href="https://home.midna.dev/">
        <:title>Home Assistant</:title>
        <:subtitle>Home automation</:subtitle>
      </.app_link>

      <.app_link initials="JF" color="bg-fuchsia-700" href="https://media.midna.dev/">
        <:title>Jellyfin</:title>
        <:subtitle>Media center</:subtitle>
      </.app_link>
    </ul>
  </div>

  <div class="text-sm text-center text-gray-500 dark:text-gray-400 mt-6">
    Homelab v<%= Application.spec(:homelab, :vsn) %>
  </div>
</div>
