<div class="col-sm">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Alerts firing</h5>
      <p>{{ status_cards.num_alerts }} alert{{ status_cards.num_alerts | pluralize }}</p>
      <a href="https://graphs.midna.dev/alerting/list?search=state:firing" class="btn btn-primary">View active
        alerts</a>
    </div>
  </div>
</div>

<div class="col-sm">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Paperless inbox</h5>
      <p>{{ status_cards.num_inbox_docs }} document{{ status_cards.num_inbox_docs | pluralize }}</p>
      <a href="https://paper.midna.dev/view/1" class="btn btn-primary">View inbox documents</a>
    </div>
  </div>
</div>